@import 'tailwindcss';
@import 'tailwindcss';

.sticker {
  width: 60px;
}

.heading {
  background-image: linear-gradient(
    90deg,
    rgb(29, 29, 29) 0%,
    rgba(255, 255, 255, 1) 100%
  );
  padding: 30px 60px;
  border-radius: 20px;
  box-shadow: rgba(142, 134, 138, 0.5) -1px -1px,
    rgba(31, 31, 31, 0.5) -1px -1px, rgba(70, 68, 69, 0.5) -1px -1px,
    rgba(34, 33, 34, 0.5) -1px -1px, rgba(85, 81, 83, 0.5) -1px -1px,
    rgba(78, 77, 78, 0.5) -1px -1px, rgba(44, 43, 44, 0.5) -1px -1px,
    rgba(61, 60, 61, 0.5) -1px -1px;
}

@keyframes float {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-15px);
  }
}

.animate-float {
  animation: float 3s ease-in-out infinite;
}

.bg-black {
  background-color: rgba(0, 0, 0, 0.8);
}

.bg-opacity-70 {
  background-color: rgba(0, 0, 0, 0.7);
}

.text-white {
  color: #ffffff;
}

.text-red-500 {
  color: #ef4444;
}

.sticker {
  width: 200px;
  height: auto;
  border: 0px;
  border-radius: 50px;
}
